body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: radial-gradient(circle at center, #001f3f, #000);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.model {
  display: none;
  position: fixed;
  justify-content: center;
  align-items: center;
}

.model-content {
  background: rgb(0, 0, 50, 0.9);
  border: 2px solid gold;
  border-radius: 15px;
  padding: 20px;
  width: 80%;
  max-width: 600px;
  color: white;
  position: relative;
}