.container {
  display: flex;
  width: 90%;
  max-width: 1200px;
  height: 100%;
  z-index: 1;
  justify-content: center;
  align-items: center;
}

.categories {
  display: flex;
  align-items: center;
  gap: 20px;
}

.categories button {
    padding: 10px 20px;
    background: darkblue;
    color: white;
    border: 2px solid gold;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
}

.question-box {
    padding: 20px;
    background: rgba(0, 0, 50, 0.8);
    border: 2px solid gold;
    border-radius: 15px;
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 20px;
    z-index: 1000000;
}

.answers {
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

.answers button {
    padding: 15px;
    background: #002b80;
    border: 2px solid gold;
    border-radius: 10px;
    font-size: 1.2rem;
    cursor: pointer;
    color: white;
    transition: 0.2s;
}

.answers button:hover {
    background: #0040ff;
}

.lifelines {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
}

.lifelines button {
    padding: 10px 15px;
    border-radius: 50%;
    background: darkblue;
    color: white;
    border: 2px solid gold;
    cursor: pointer;
    font-weight: bold;
    width: 60px;
    height: 60px;
}


.scoreboard {
    display: flex;
    background: rgba(0, 0, 50, 0.9);
    border: 2px solid gold;
    border-radius: 15px;
    padding: 20px;
    margin-left: 20px;
    overflow-y: auto;
    width: 200px;
}

.scoreboard ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.scoreboard li {
    padding: 5px 0;
    font-size: 1.1rem;
    color: gold;
}

.point {
    color: red;
}