button{
    padding: 10px 20px;
    background: darkblue;
    border: 2px solid gold;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    display: block;
}

img{
    width: 100px;
}